* {
    font-family: 'Noto Serif', serif;
}

body {
    background-color: lightgray;
}

.affilitation {
    background-color: rgb(78, 78, 235);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 8px;
}


.header {
    text-align: center;
}

 
.info {
    display: flex;
}

.commitee {
    flex-basis: 100%;
}

.legislation-list {
    flex-basis: 100%;
}



