body {
    background-color: lightgray;
}

.affilitation {
    background-color: rgb(78, 78, 235);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 8px;
}

article {
    margin: 50px;
}

.header {
    text-align: center;
}

img {
    border-radius: 8px;
}
 